/* styles here */
html {
  height: 100%;
  width: auto;
}
body {
  background-image: radial-gradient(#fd00ff, #fdff00, #00ff38, 	#00f9ff, 	#3c00ff); 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(#3c00ff, #00f9ff, #00ff38, 	#fdff00, 	#fd00ff);
}

li {
  float: left;
}

li a {
  display: block;
  background-image: linear-gradient(#3c00ff, #00f9ff, #00ff38, 	#fdff00, 	#fd00ff);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fd00ff;
}
.titleA {
 color: #fd00ff;
 background-image: linear-gradient(#fd00ff, #fdff00, #00ff38, 	#00f9ff, 	#3c00ff);
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}
.flex-container > div {
  background-color: #00ff38;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
