/* styles here */
html {
    height: 100%;
    width: auto;
}

body {
    background-image: radial-gradient(#fd00ff, #fdff00, #00ff38, #00f9ff, #3c00ff);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(#3c00ff, #00f9ff, #00ff38, #fdff00, #fd00ff);
}

li {
    float: left;
    margin-right: auto;
    margin-left: 150px;
    padding: 0px 30px;
}

li a {
    display: block;
    font-size: 30px;
    /* background-image: linear-gradient(#3c00ff, #00f9ff, #00ff38, 	#fdff00, 	#fd00ff); */
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    color: #3c00ff;
}

li a:hover {
    background-color: #fd00ff;
}

.titleA {
    color: #3c00ff;
    font-size: 50px;
    background-image: linear-gradient(#fd00ff, #fdff00, #00ff38, #00f9ff, #3c00ff);
}

.band {
    border-style: groove;
    border-color: #00f9ff;
    border-radius: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #00f9ff;
    color: #3c00ff;
}

.flex-container > div {
    background-color: #00ff38;
    width: 700px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}